.containerstyles{
    margin-top: 60px;
    background-color: rgb(180, 202, 197);
    padding:0%;
}

.buttonstyle{
    margin-top: 50px;
    margin-bottom: 50px;
    width:50%;
}

.signin{
    margin-top: 100px;
    margin-bottom: 50px;
}
