
.btn-primary{
    background-color: #0f3057 !important;
    border-color: #0f3057 !important;
    color:#e7e7de !important;
}
.btn-primary:hover{
    background-color: #e7e7de!important;
    border-color:#e7e7de  !important;
    color: #0f3057 !important;
}
.navbar{
    background-color: #008891;
}