
.btn-primary{
    background-color: #bbe1fa !important;
    border-color: #bbe1fa !important;
    color:#1b262c !important;
}
.btn-primary:hover{
    opacity: 0.7;
    color: #0f3057 !important;
}
.navbar{
    background-color: #1b262c;
}
.navbar-brand{
    color:#bbe1fa !important;
}