
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;900&display=swap');


.homepage{
   margin: 57px 0px 0px 0px;
  
   
}

.section1{
    height:300px;
   padding: 20px 0px 0px 0px;
}

.fontStyle{
    font-family: 'Comfortaa', cursive;
    color:#0f3057;
    padding-top:20px;
    font-size: 40px;
    }

    @media (min-width: 400px) {

        .fontStyle{
            font-size: 60px;
        }
     }

.btn-secondary{
    background-color: #0f3057 !important;
    border-color: #0f3057 !important;
   color: #e7e7de !important;
    margin-top: 20px;
   
 }
.btn-secondary:hover{
    background-color: #e7e7de!important;
    border-color: #0f3057 !important;
   color:#0f3057 !important;
    
}

.link{
text-decoration: none;
}
.link:hover{
    text-decoration: none;
    }

h6{
    font-family: 'Comfortaa', cursive;
}

.img1{
    margin-top: 20px;
    
}
@media (min-width: 992px) {
    .section-4{
    
        background-color: #00587a;
       
        
       
        font-family: 'Comfortaa', cursive;
        color:  #e7e7de;
      }
      .section-5{
          background-color:#e7e7de;
         height:600px;
          color:#0f3057;
          font-family: 'Comfortaa', cursive;
         
      }
      footer{
          background-color: #008891;
          height: 200px;
          font-family: 'Comfortaa', cursive;
          
          font-weight: 1000px;


      }
    }
.section-4{
 
    background-color: #00587a;
    height:300px;
    font-family: 'Comfortaa', cursive;
    color:  #e7e7de;
  }
  .facebook{
      background-color: #3b5998;
  }
  .google{
    background-color: #dd4b39;
}
.twitter{
    background-color: #55acee;
}
.instagram{
    background-color: #ac2bac;
}
.linkedin{
    background-color: #0082ca;
}
.github{
    background-color: #333333;
}



