
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;900&display=swap');


.homepage{
   margin: 57px 0px 0px 0px;
  
   
}

.section1{
    height:300px;
   padding: 20px 0px 0px 0px;
}

.fontStyle{
    font-family: 'Comfortaa', cursive;
    color:#1b262c;
    padding-top:20px;
    font-size: 40px;
    }

    @media (min-width: 400px) {

        .fontStyle{
            font-size: 60px;
        }
     }

.btn-secondary{
    background-color: #1b262c !important;
    border-color: #1b262c !important;
   color: #bbe1fa !important;
    margin-top: 20px;
    box-shadow: 0px 0px 14px -4px  #1b262c;
   
 }
.btn-secondary:hover{
opacity: 0.8;
  
    
}

.link{
text-decoration: none;
}
.link:hover{
    text-decoration: none;
    }

h6{
    font-family: 'Comfortaa', cursive;
}

.img1{
    margin-top: 20px;
    
}
@media (min-width: 992px) {
    .section-4{
    
        background-color: #0f4c75;
       
        
       
        font-family: 'Comfortaa', cursive;
        color:  #e7e7de;
      }
      .section-5{
          background-color:#bbe1fa;
         height:600px;
          color:#0f3057;
          font-family: 'Comfortaa', cursive;
         
      }
      footer{
          background-color: #1b262c;
          height: 200px;
          font-family: 'Comfortaa', cursive;
          color: #e7e7de;
          
          font-weight: 1000px;


      }
    }
.section-4{
 
    background-color: #0f4c75;
    height:300px;
    font-family: 'Comfortaa', cursive;
    color:  #ffffff;
  }
  .facebook{
      background-color: #3b5998;
      transition: transform .2s;
  }
  .google{
    background-color: #dd4b39;
    transition: transform .2s;
}
.twitter{
    background-color: #55acee;
    transition: transform .2s;
}
.instagram{
    background-color: #ac2bac;
    transition: transform .2s;
}
.linkedin{
    background-color: #0082ca;
    transition: transform .2s;
}
.github{
    background-color: #333333;
    transition: transform .2s;
}

/*hover effect on buttons*/
.facebook:hover{
    opacity: 0.7;
    transform: scale(1.5);
}
.google:hover{
    opacity: 0.7;
    transform: scale(1.5);
}
.twitter:hover{
    opacity: 0.7;
    transform: scale(1.5);
}
.instagram:hover{
    opacity: 0.7;
    transform: scale(1.5);
}
.linkedin:hover{
    opacity: 0.7;
    transform: scale(1.5);
}
.github:hover{
    opacity: 0.7;
    transform: scale(1.5);
}
.h3{
    margin-top: 20px;
}

